header.page-header {
    background: no-repeat left/cover url(https://1.bp.blogspot.com/-mb41E3iJTUQ/Tz_KuZQ6lPI/AAAAAAAABIE/r3BkeO5WLlc/s1600/001.JPG);
    display: flex;
    height: 425px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
    float : auto;
}
header.page-header > h1 {
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
        fantasy;
    margin: 2%;
}
hr {
    border: black;
    border-top: 5px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 0px;
}

hr:after {
    background: #fff;
    padding: 0 6px;
    position: relative;
    top: -13px;
}

div.Img1 {
    float : left;
    text-align : center;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 15px;
    max-width: 220px;
    margin: auto;
}

img {
    height: 250px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 4px;
    text-align: center;
}
div.Img2 {
    float : left;
    text-align : center;
}
div.Img3 {
    float : left;
    text-align : center;
}
div.Img4 {
    float : left;
    text-align : center;
}
div.Img5 {
    float : left;
    text-align : center;
}
div.Img6 {
    float : auto;
    text-align : center;
}